body {
  font-family: 'Press Start 2P' sans-serif;
  background-color: black;
  margin: 0px;
}

#loading {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-size: 48px;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* This won't work with resizing */
/* TODO: Make this dynamic? */
#game {
  width: 640px;
  height: 360px;
}

@font-face {
  /* TODO: Replace with free font */
  font-family: 'Press Start 2P';
  src: url('./font/PressStart2P-Regular.ttf');
}
