body {
  font-family: 'patchy-robots' sans-serif;
  background-color: black;
  margin: 0px;
}

#loading {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-size: 48px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* This won't work with resizing */
canvas {
  width: 1280px;
  height: 720px;
}

@font-face {
  font-family: 'patchy-robots';
  src: url('../asset/font/patchy-robots.ttf');
}
